V2_Data Pipeline - MXV AI Hackathon 2.0.json
{
  "name": "V2_Data Pipeline - MXV AI Hackathon 2.0",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1YfnIXplk99uzIg2SAS1oCs6ctx84yEAo",
          "mode": "list",
          "cachedResultName": "Hackathon 2.0",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YfnIXplk99uzIg2SAS1oCs6ctx84yEAo"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9c111d38-0dc7-4d44-8076-f140bad0bc0d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleApi": {
          "id": "JmYKv3m8diJLuvhd",
          "name": "Google Service Account 1110"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "2411f9f0-0e51-489f-b081-2cfb5a6a79b7",
      "name": "Download file",
      "credentials": {
        "googleApi": {
          "id": "JmYKv3m8diJLuvhd",
          "name": "Google Service Account 1110"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "territoryrules2",
          "mode": "list",
          "cachedResultName": "territoryrules2"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "5631e95a-0fc8-4f7a-b317-bfb8175ecab9",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "C17b24QdYMciZZk6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "id": "2ab6ef81-79c8-474a-9008-88e40a87a815",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "q9lJj05rFA6Wqe4P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        224
      ],
      "id": "f0e73d00-2756-42d5-8eac-78931740f636",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        432
      ],
      "id": "838a9187-d6b8-4350-a35e-6a85a7e97323",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "739a352e-122e-4b52-a159-6774845d043b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "949db55805ef34586c14b9f5edea4f790ec1263ce5ca2feddb08a641b9bb3a60"
  },
  "id": "j0xF03HakeS64mQH",
  "tags": []
}